*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
    
    /* FONTS */
    --ff-default: 'Rubik', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --clr-font: var(--main-bg);

    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-64: 4rem;

    /* COLORS */
    --main-bg: #0D0D2B;
    --clr-accent-100: #ffffff;
    --clr-accent-400: #3671E9;
    --clr-accent-600: #2B076E;

    --clr-neutral-100: #F9FAFD;
    --clr-neutral-200: #FBFCFE;
    --clr-neutral-300: #E0E0E0;
    --clr-neutral-400: #828282;

    --clr-linear: linear-gradient(#2B076E, #0D0D2B);
}

body{
    font-family: var(--ff-default);
}

header, 
section,
footer{
    background: var(--main-bg);
    color: var(--clr-accent-100);
}

.container{
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;
}

.columns{
    display: grid;
    gap: 2rem;
}

.odd-columns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
}

.padding-block{
    padding-block: 3rem;
}

.nav-list{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    --width-arrow: var(--fs-24);
    --arrow-larger: var(--fs-40);

    cursor: pointer;
    color: var(--clr-accent-100);
    background: var(--clr-accent-400);
    border: 0;
    border-radius: var(--fs-32);
    padding: var(--fs-14) var(--fs-32);
    font-weight: var(--fw-500);
    font-size: var(--fs-18);
}

.btn[aria-setsize="small"]{
    font-size: var(--fs-16);
}

.btn[data-attribute="reverse"]{
    color: var(--clr-font);
    background: var(--clr-accent-100);
}

.btn[data-attribute="invisible"]{
    background: none;
}

.btn[data-type="different"]{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.btn .arrow{
    width: var(--width-arrow);
    aspect-ratio: 1;
}

.btn .arrow[aria-setsize="large"]{
    width: var(--arrow-large);
}

.primary-title{
    font-size: var(--fs-48);
    font-weight: var(--fw-700);
}

.second-title{
    font-size: var(--fs-32);
    font-weight: var(--fw-700);
}

.subtitle{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--clr-neutral-200);
}

.subtitle[aria-setsize="mx-width"]{
    max-width: 360px;
}

.flex-group{
    display: flex;
    flex-direction: column;
    gap: var(--fs-32);
    align-items: center;
}

.flex-gap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.row-flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.center-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered{
    text-align: center;
}

.card-prev .container > div{
    padding-bottom: 18rem;
}

.bg-neutral-gray{
    background: var(--clr-neutral-100);
}

.card{
    max-width: 900px;
    margin-inline: auto;
    margin-top: -20.785rem;
}

.middle-card,
.description{
    padding-block: 3rem;
    padding-inline: 2rem;
}

.middle-card{
    background: var(--clr-neutral-100);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.middle-card-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.middle-card-flex > div input,
.middle-card-flex > div input:focus-visible,
.middle-card-flex > div select,
.middle-card-flex > div select:focus-visible{
    border: 0;
    border-bottom: 1px solid var(--clr-accent-600);
    outline: none;
    padding: .5rem .5rem .5rem 0;
    background: transparent;
}

.middle-card-flex > div input::placeholder{
    color: var(--clr-font);
}

.middle-card-flex > div input{
    width: 200px;
}

.middle-card-flex > div select{
    width: 200px;
}

.description{
    background: var(--clr-accent-100);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.description h3{
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    color: var(--clr-accent-400);
}

.description .second-title span{
    color: var(--clr-accent-400);
}

.description .clr-gray-400{
    color: var(--clr-neutral-400);
}

.btn-card{
    background: var(--clr-accent-400);
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    padding: var(--fs-16) var(--fs-32);
    border-radius: 100vw;
    border: 0;
    color: var(--clr-accent-100);
}

.second-title .clr-font{
    color: var(--clr-font);
}

.card-crypto{
    align-items: center !important;
    padding: 2rem;
    border-radius: 1rem;
}

.card-crypto:first-of-type{
    background: var(--clr-accent-600);
    color: var(--clr-accent-100);
}

.card-crypto:first-of-type p{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
}

.card-crypto:nth-of-type(2),
.card-crypto:nth-of-type(3){
    background: var(--clr-accent-100);
}

.card-crypto:nth-of-type(2) p,
.card-crypto:nth-of-type(3) p{
    color: var(--clr-neutral-400);
}

.second-title span{
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
    color: #BDBDBD;
    text-align: center;
}

.bg-400{
    background: var(--clr-accent-600);
}

.clr-100{
    color: var(--clr-accent-100);
}

.data{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.flex-items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.flex-items p{
    color: var(--clr-neutral-300);
}

.flex-order{
    order: -1;
}

@media(min-width: 29em){
    .middle-card-flex{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media(min-width: 50em){
    .columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }   

    .primary-title{
        font-size: var(--fs-64);
    }

    .second-title{
        font-size: var(--fs-40);
        font-weight: var(--fw-700);
    }

    .flex-group{
        align-items: flex-start;
    }

    .card-prev .container > div{
        padding-bottom: 10rem;
    }

    .middle-card-flex > div input{
        width: 400px;
    }
    .card{
        margin-top: -12.25rem;
    }

    .flex-order{
        order: 0;
    }
}

@media(min-width: 61em){
    .odd-columns[aria-setsize="centered"]{
        place-items: center;
    } 
}